In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API Key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2021-11-28 03:53:35,55.7435,-97.8558,19.56,79,90,10.36
1,1,Brigantine,US,2021-11-28 04:01:53,39.4101,-74.3646,34.00,60,75,4.61
2,2,Punta Arenas,CL,2021-11-28 04:02:29,-53.1500,-70.9167,46.71,78,100,11.48
3,3,Saldanha,ZA,2021-11-28 04:03:04,-33.0117,17.9442,62.65,95,86,11.74
4,4,Port Alfred,ZA,2021-11-28 04:02:30,-33.5906,26.8910,67.28,67,63,8.97

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Busselton,AU,2021-11-28 04:02:35,-33.6500,115.3333,83.71,41,70,11.61
14,14,Avanigadda,IN,2021-11-28 04:03:07,16.0215,80.9181,80.74,80,100,12.71
19,19,Georgetown,MY,2021-11-28 04:00:16,5.4112,100.3354,85.93,70,20,3.44
28,28,Iralaya,HN,2021-11-28 04:00:01,15.0000,-83.2333,76.91,72,76,10.49
29,29,Luanda,AO,2021-11-28 03:57:38,-8.8368,13.2343,76.50,81,100,7.07
40,40,Sassandra,CI,2021-11-28 04:03:14,4.9500,-6.0833,77.76,87,10,4.94
43,43,Hithadhoo,MV,2021-11-28 04:03:14,-0.6000,73.0833,81.88,71,99,17.40
50,50,Mahebourg,MU,2021-11-28 04:04:16,-20.4081,57.7000,78.62,67,0,9.66
54,54,Bandarbeyla,SO,2021-11-28 04:04:17,9.4942,50.8122,79.09,78,88,15.21
56,56,Cabedelo,BR,2021-11-28 04:04:18,-6.9811,-34.8339,79.47,73,73,10.42

In [15]:
preferred_cities_df.count()

City_ID       115
City          115
Country       115
Date          115
Lat           115
Lng           115
Max Temp      115
Humidity      115
Cloudiness    115
Wind Speed    115
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
5     Busselton      AU     83.71 -33.6500  115.3333
14   Avanigadda      IN     80.74  16.0215   80.9181
19   Georgetown      MY     85.93   5.4112  100.3354
28      Iralaya      HN     76.91  15.0000  -83.2333
29       Luanda      AO     76.50  -8.8368   13.2343
40    Sassandra      CI     77.76   4.9500   -6.0833
43    Hithadhoo      MV     81.88  -0.6000   73.0833
50    Mahebourg      MU     78.62 -20.4081   57.7000
54  Bandarbeyla      SO     79.09   9.4942   50.8122
56     Cabedelo      BR     79.47  -6.9811  -34.8339

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head()

          City Country  Max Temp      Lat       Lng               Hotel Name
5    Busselton      AU     83.71 -33.6500  115.3333  Observatory Guest House
14  Avanigadda      IN     80.74  16.0215   80.9181               AP Camping
19  Georgetown      MY     85.93   5.4112  100.3354           Cititel Penang
28     Iralaya      HN     76.91  15.0000  -83.2333  Iglesia morava renovada
29      Luanda      AO     76.50  -8.8368   13.2343              Hotel Fórum

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]